[Unit]
Description=Shutdown Daemon

[Service]
ExecStart =/home/pi/twelite_door_sensor/shutdownd.py
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
