[Unit]
Description = Twelite_read

[Service]
ExecStart=/usr/bin/python /home/pi/twelite_read.py
Restart=always
Type=simple
ExecStopPost=/usr/bin/python /home/pi/twelite_read.py

[Install]
WantedBy=multi-user.target
