[Unit]
Description = Twelite_read

[Service]
ExecStart=/usr/bin/python /home/pi/twelite_door_sensor/twelite_read.py /dev/ttyAMA0
Restart=always
Type=simple
ExecStopPost=/usr/bin/python /home/pi/twelite_door_sensor/twelite_read.py

[Install]
WantedBy=multi-user.target
